<h1>Edit User</h1>

<%= form_tag("/users/#{@user.id}", method: :put) do %>
<p>なまえ</p>
<input value="<%= @user.name %>" name="name">
<p>Email</p>
<input value="<%= @user.email %>" name="email">
<p>でんわ</p>
<input value="<%= @user.phone %>" name="phone">
<% if @current_user.admin == true %>
<p>アドミン？</p>
<input type="checkbox" name="admin"></br>
<% end %>
<input type="submit">
<% end %>