<h1>Editing Book</h1>

<%= form_tag("/books/#{@book.id}", multipart: true, method: :patch) do %>

　　　　　<p>タイトル名</p>
          <input name="title" value="<%= @book.title %>">
       
          <p>アバター</p>
          <input name="book_image" type="file">
          <p>ページイメージ</p>
          <input name="page_image" type="file">
          <input type="submit" value="保存">
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
