
<%= form_tag(reservations_make_path, method: :post) do %>

<div class="invisi">
Rental Person: <%= @current_user.name %> </br>
<p>Book id: <input value="<%= @id %>" name="book_id"></p>
</div>

<p>Start Date</p>
<input type="date" name="start_date">
<p>End Date</p>
<input type="date" name="end_date"> </br>
<input type="submit">

<% end %>
<!--<% if @current_user && @current_user.admin == true %> -->
<!--<% end %> -->