// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.thummbnail {
    max-width:10px;
}

.thmb {
    width:40px;
}

.book-size {
    width:200px
}

.table {
      font-family: 'anzu';
}

.table td{
      font-family: 'anzu';
}

.file-form{
    text-align:center;
    margin: 0 auto;
}